/* error */
.error {
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 1.2rem;
}

.home-page-container {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 70%,
      rgba(255, 255, 255, 1) 100%
    ),
    url("./images/home-pg-bg.png");
  background-size: cover; /* Ensure the image covers the entire container */
  background-position: center;
  height: 80vh; /* Full screen height */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  transition: background-color 0.3s ease; /* Smooth transition for color change */
}
.navbar-container {
  color: white;
  height: 60px;
  display: flex;
  font-weight: bold;
  position: static; /* Fix the navbar at the top */
}
.navbar.scrolled {
  background-color: #fe8000; /* Change to the desired color */
}
ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  list-style-type: none;
  gap: 3rem;
}
.navbar-container a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}
.navbar-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar-logo img {
  height: 8.3vh;
  width: auto;
}
/* Home page css */
.main-container {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  position: static;
  color: #dbd9d5;
}

.search-container {
  display: flex;
  gap: 10px; /* Space between input and button */
  padding: 10px;
}
/* CSS for input box as well as button */
.search-container .input-box {
  width: 40vw;
}
.search-container .input-box,
.search-container button {
  padding: 20px;
  border-radius: 8px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.search-container .input-box:hover,
.search-container button:hover,
.meal-container button:hover {
  border: none;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.search-container button {
  background-color: #fe8000;
  color: #dbd9d5;
}
/*  Card component CSS */
.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}

.card-inner-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 60px;
  color: black;
  margin-top: 5rem;
}

/* main card container */
.meal-container {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px,
    rgba(0, 0, 0, 0.05) 0px 5px 10px;
  padding: 5px;
  text-align: center;
  border-radius: 2rem;
}
.meal-container img,
img {
  height: 300px;
  width: auto;
  border-radius: 2rem;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px,
    rgba(0, 0, 0, 0.05) 0px 5px 10px;
}
.meal-container button {
  padding: 10px;
  border-radius: 20px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: #fe8000;
  color: #dbd9d5;
  width: -webkit-fill-available;
  margin: 0 1rem;
}
/* mealinfo css */
.mealInfo-container {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.1)),
    url("./images/mealInfoBG.png") no-repeat center center; /* Dark gradient on top */
  background-size: cover; /* Ensure the image covers the container */
  filter: opacity(0.8);
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
  color: white;
}
.mealInfo-inner-container {
  display: flex;
  justify-content: center;
  gap: 5rem;
  align-items: center;
  min-height: calc(100vh - 60px);
  margin: 0px 3rem;
}
.mealinfo-img {
  display: flex;
  align-items: center;
  justify-content: center;
}
img {
  height: 400px;
  width: auto;
}

.mealInfo-inner-container button {
  width: 20rem;
  padding: 1.2rem;
  font-size: 1.2rem;
  border-radius: 20px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: #fe8000;
  color: #dbd9d5;
}

/* about container */
.about-container {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.6) 4%,
      /* Blackness at the top */ rgba(255, 255, 255, 1) 100%
        /* Fade to transparent */
    ),
    url("./images/about-bg.jpg");
  background-size: cover; /* Ensure the image covers the container */
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
  color: black;
}
